<section id="hole">


<div class ="header">
<h1>Black Hole</h1>
<%= image_tag 'blackhole.jpg' %>
</div>





<div class ="conditions">

<h2 class="subsection">Black Hole Conditions</h2>

<p>After collapse to the neutron star stage, stars with masses less than 2-3
  solar masses should remain neutron stars, gradually radiating away their
  energy, because there is no known mechanism for further combination, and
  forces between neutrons prevent further collapse. But this neutron force is
  the last stand, and our best calculations indicate that this repulsion which
  prevents collapse cannot withstand the gravity force of masses greater than
  2 to 3 solar masses. Such neutron stars would collapse toward zero spatial
  extent - toward a "singularity". Once they collapsed past a certain radius,
  the "event horizon", then even light could not escape: black hole. Since
  black holes by their very definition cannot be directly observed, proving
  their existence is difficult. The indirect evidence for the black hole
  Cygnus X-1 is a good example of the search for black holes.
</p>
</div>

</section>
