// Place all the styles related to the homework controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.header{
  text-align: center;
  margin-bottom: 2em;
}


.subsection{
  text-align: center;
  margin-top: 2em;
  margin-bottom: 1em;
}

.conditions{
  margin: 10em;
  margin-top: 2em;
  margin-bottom: 2em;
}
